@model NPGeek.Web.Models.Park

@{
    ViewBag.Title = "ParkDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="~/Views/Park/ParkDetail.cshtml" method="get">
    <div class="detail-container">
        <img src="~/Content/img/parks/@(Model.ParkCode).jpg" />
        <h2>@Model.ParkName - @Model.State</h2>
        <p>@Model.ParkDescription</p>
    </div>
    <blockquote style="font-style:italic">@Model.InspirationalQuote - @Model.InspirationalQuoteSource</blockquote>
    
        <div class="parkdetail-box">
            <table>
                <thead class="parkName-thead">@Model.ParkName Facts at a Glance</thead>
                <tr><td>Miles of Trail</td>
                    <td>@Model.MilesOfTrail</td>
                </tr>
                <tr>
                    <td>Acreage</td>
                    <td>@Model.Acreage</td>
                </tr>
                <tr>
                    <td>Elevation</td>
                    <td>@Model.Elevation</td>
                </tr>
                <tr>
                    <td>Number of Campsites</td>
                    <td>@Model.NumberOfCampsites</td>
                </tr>
                <tr>
                    <td>Climate</td>
                    <td>@Model.Climate</td>
                </tr>
                <tr>
                    <td>Year Founded</td>
                    <td>@Model.YearFounded</td>
                </tr>
                <tr>
                    <td>Annual Visitor Count</td>
                    <td>@Model.AnnualVisitorCount</td>
                </tr>
                <tr>
                    <td>Entry Fee</td>
                    <td>$@Model.EntryFee</td>
                </tr>
                <tr>
                    <td>Number of Animal Species</td>
                    <td>@Model.NumberOfAnimalSpecies</td>
                </tr>
            </table>

            
        </div>
</form>


<div>
    @Html.Action("WeatherDisplay")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</div>


