@model NPGeek.Web.Models.Park

@{
    ViewBag.Title = "ParkDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="~/Views/Park/ParkDetail.cshtml" method="get">
    <div class="detail-container">
        <img src="~/Content/img/parks/@(Model.ParkCode).jpg" />
        <div class="parkdetail-box">
            <h2>@Model.ParkName - @Model.State</h2>

            <p>@Model.ParkDescription</p>
            <p>Miles of Trail: @Model.MilesOfTrail</p>
            <p>Acreage: @Model.Acreage</p>
            <p>Elevation: @Model.Elevation</p>
            <p>Number of Campsites: @Model.NumberOfCampsites</p>
            <p>Climate: @Model.Climate</p>
            <p>Year Founded: @Model.YearFounded</p>
            <p>Annual Visitor Count: @Model.AnnualVisitorCount</p>
            <p>Entry Fee: $@Model.EntryFee</p>
            <p>Number of Animal Species: @Model.NumberOfAnimalSpecies</p>
            <blockquote style="font-style:italic">@Model.InspirationalQuote<h4> ~@Model.InspirationalQuoteSource</h4></blockquote>
        </div>
    </div>
</form>


<div>
    @Html.Action("WeatherDisplay")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</div>


