@model IList<NPGeek.Web.Models.Weather>

@foreach (var weather in Model)
{
   <p>@weather.ParkCode</p>
   <p>@weather.Forecast</p>
   <p>@weather.FiveDayForecastValue</p>
   <p>@weather.High</p>
   <p>@weather.Low</p>
}
